# Unit 18. break, continue로 반복문 제어하기

## 18.1 break

In [1]:
import random

# import 뜻? 함수 가져오는건가?

In [3]:
while True:
    i = random.randint(1,6)
    print(i)
    if i == 3:
        break

# 이 코드가 17장 코드보다 더 자연스러워 이렇게 쓴다고함

1
4
3

In [4]:
for i in range(5):
    print(i, end=' ')
    for k in range(5):
        print('*', end='')
        if i == k:
            break
# 3까지만 탈출함

# d2 coding ligature 사용시 글꼴 합쳐짐 *(*위로)*

0 *1 **2 ***3 ****4 *****

In [5]:
for i in range(5):
    print(i, end=' ')
    for k in range(5):
        print('*', end='')
        if i == k:
            break
    print()

0 *
1 **
2 ***
3 ****
4 *****

In [6]:
# break는 자기가 속한 loop 하나만 빠져나감

## 18.2 continue로 코드 실행 건너뛰기

In [7]:
for i in range(10):
    if i % 2 == 0:
        continue            # 2로 나눠지면 위로 올라감. 아래로 진행 x
    print(i)

1
3
5
7
9