# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [3]:
for i in range(1, 6):
    for k in range(10, 60, 10):     # j 로 쓰면 나중에 i랑 헷갈려 실수할 수 있으니 아예 다른 문자로
        print(k, end=' ')
    print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2 사각형으로 별 출력하기

In [8]:
for i in range(5):            # 5번 반복. 바깥쪽 루프는 세로 방향
    for _ in range(5):        # 5번 반복. 안쪽 루프는 가로 방향
        print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*****
*****
*****
*****
*****

In [9]:
for i in range(3):            # 3번 반복. 세로 방향
    for k in range(7):        # 7번 반복. 가로 방향
        print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*******
*******
*******

In [18]:
# 평행사변형
for i in range(4):
    for _ in range(0,i):
        print(' ', end='')
    for _ in range(5):
        print('*', end='')
    print()

*****
 *****
  *****
   *****

In [20]:
# 이건 해도 실행이 안됨
for i in range(0,0):
    print('*')

In [21]:
for i in range(4):
    print(' '*i, '*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 계단식으로 별 출력하기

In [22]:
# 다이아몬드 완성하는 코드 만들어볼것
# 지금은 1/4 북동쪽 부분만

In [24]:
for i in range(5):
    for _ in range(i+1):     # i가 제일 처음엔 0 이니까
        print('*', end='')
    print()

*
**
***
****
*****

In [39]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [40]:
for i in range(5):
    print('*' * (i+1))

*
**
***
****
*****

In [31]:
# ???

for i in reversed(range(5)):
    for _ in range(i+1):
        print('*', end='')
    print()

*****
****
***
**
*

In [37]:
for i in range(5):
    for _ in range(i):
        print(' ', end='')
    for _ in range(5-i):
        print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [42]:
for i in range(5):
    print(' ' * i, '*' * (5-i), sep='')

*****
 ****
  ***
   **
    *

In [38]:
# ???

for i in range(5):
    for _ in range(i):
        print('', end='')
    for _ in range(5-i):
        print('*', end='')
    print()

*****
****
***
**
*

### Diamond 그리기

In [69]:
for i in range(9):
    for _ in range(i):
        print('', end='')
    for _ in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********

In [60]:
diamond = int(input('별 최대 개수 : '))

if diamond % 2 == 1:
    i = 1
else :
    i = 2

for i in range(i, diamond+1, 2):
    blank = ' '*((diamond-i)//2)
    star = '*'*i # 여기에 * 대신 다양한 기호 사용 가능!
    
    print(blank, star,blank)

for i in range(i-2, 0, -2):
    blank = ' '*((diamond-i)//2)
    star = '*'*i
    
    print(blank, star,blank)

별 최대 개수 : 9
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [70]:
# Diamond 그리기 답
# 윗부분과 아랫부분으로 쪼개서 구함
for i in range(5):
    for _ in range(4-i):
        print(' ', end='')
    for _ in range(2*i+1):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********

In [73]:
for i in range(5):
    for _ in range(4-i):
        print(' ', end='')
    for _ in range(2*i+1):
        print('*', end='')
    print()
for i in range(4):
    for _ in range(i+1):
        print(' ', end='')
    for _ in range(7-2*i):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [78]:
for i in range(5):
    print(' '*(4-i), '*'*(2*i+1), sep='')       # sep가 없어도 실행되나 한칸 오른쪽으로 감
for i in range(4):
    print(' '*(i+1), '*'*(7-2*i), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [80]:
for i in range(-4, 5):
    print(' ' * (abs(i)), '*' * (-2*abs(i)+9), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *