- unit 20, 21 생략 20은 아까했음

# Unit 22. 리스트와 튜플 응용하기

## 22.1 리스트 조작

- append: 요소 하나를 추가
- extend: 리스트를 연결하여 확장
- insert: 특정 인덱스에 요소 추가

In [1]:
a = [10, 20, 30]

In [2]:
# 리스트 맨 뒤에 요소 하나를 추가하는 메쏘드(method)
a.append(500)
a

[10, 20, 30, 500]

In [3]:
a.append(['x','y'])
a

[10, 20, 30, 500, ['x', 'y']]

In [4]:
b = [10, 20, 30]
b.extend(['x','y'])
b

[10, 20, 30, 'x', 'y']

In [5]:
# 프로그램은 이런 형태가 너무 많음

empty_list = []
for i in range(5):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4]

In [6]:
del a[4]
a

[10, 20, 30, 500]

### Stack and Queue
- 스택 버스 순서대로 타고 순서대로 내림
- 큐 엘리베이터 늦게 탄 사람이 먼저내림

In [12]:
stack = []
# stack에 push
stack.append(1); stack.append(2); stack.append(3);
stack

[1, 2, 3]

In [13]:
# stack으로부터 pop
value = stack.pop()
print(value, stack)

3 [1, 2]

In [14]:
stack

[1, 2]

In [17]:
queue = []
# queue에 insert
queue.insert(0, 1); queue.insert(0, 2); queue.insert(0, 3); 
queue

[3, 2, 1]

In [18]:
# queue로부터 끄집어내기
value = queue.pop()
print(value, queue)

1 [3, 2]

### 다양한 메쏘드

In [21]:
a = [10, 20, 30, 40, 50, 60]
a.index(30), a.index(40)

(2, 3)

In [22]:
a = [10, 20, 30, 40, 50, 60]
a.index(30), a.index(45)        # 없으면?

ValueError: ignored

In [25]:
num = 45
if num in a:
    idx = a.index(num)

In [26]:
a.count(10)

1

In [27]:
a.count(45)

0

## 정렬(sort)

In [28]:
# 오름차순(ascendinn order)이 디폴트
a = [20, 10, 15, 30, 40]
a.sort()
a

[10, 15, 20, 30, 40]

In [30]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)    # 정렬된 새 리스트를 생성

[10, 15, 20, 20, 30, 40]

In [31]:
b

[10, 20, 30, 15, 20, 40]

In [32]:
#파이썬은 리스트의 sort 메서드뿐만 아니라 내장 함수 sorted도 제공합니다.
# sort와 sorted 모두 정렬을 해주는 함수지만, 약간의 차이점이 있습니다.
# sort는 메서드를 사용한 리스트를 변경하지만, sorted 함수는 정렬된 새 리스트를 생성합니다.

In [34]:
# 이렇게 다시 해줘야 바뀜. sort()를 쓰면 바뀌지만 sorted함수는 바뀌지 않고 새 리스트를 생성한다!
b = sorted(b)
b

[10, 15, 20, 20, 30, 40]

In [35]:
# 내림차순(descending order)
a = [20, 10, 15, 30, 40]
a.sort(reverse=True)
a

[40, 30, 20, 15, 10]

## 22.2 리스트의 할당과 복사

In [41]:
# Shallow copy, pointer만 복사
a = [0,0,0,0,0]
b = a
b

[0, 0, 0, 0, 0]

In [42]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [43]:
a           # b 값이 바뀌었는데 a 값도 바뀜

[0, 0, 99, 0, 0]

In [44]:
# 데이터를 몽땅 별도의 기억장소에 복사
a = [0,0,0,0,0]
b = a.copy()
b

[0, 0, 0, 0, 0]

In [45]:
b[2] = 99
a

[0, 0, 0, 0, 0]

## 22.3 리스트와 반복문

In [46]:
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

apple
banana
cherry

In [51]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

# list에서 enumerate 많이 쓰임

0 apple
1 banana
2 cherry

In [52]:
# for 인덱스, 요소 in enumerate(리스트, start=숫자):

In [53]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

## 22.4 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기
- min, max, sum 함수 활용

In [56]:
a = [38, 21, 53, 62, 19]
a.sort()
a[0]
# min(a) 와 같음

19

In [57]:
a[-1]   # max(a)

62

In [58]:
a = [38, 21, 53, 62, 19]
sorted(a)[0]    # min(a)

19

In [60]:
#  a 원소의 합
sum_of_list = 0
for elem in a:
    sum_of_list += elem
sum_of_list

193

In [61]:
sum(a)
# 계산은 간편하지만..
# sum은 가급적 쓰지말기. 추후에 sum을 다시 쓸때 오류남
# 함수이름과 변수 이름이 중첩되지 않도록

193

In [62]:
sum = 0
for elem in a:
    sum += elem
sum, sum(a)

# 같은 sum으로 지정하면 오류

TypeError: ignored

## 22.5 리스트 표현식 사용하기(Comprehension)

In [63]:
[fruit for fruit in fruits]

['apple', 'banana', 'cherry']

In [67]:
[fruit*index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [71]:
[i*i for i in range(1,11)]              # 파이썬스러운 코드

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
list(i*i for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
sq_list = []                            # language를 처음배우면 이 내용을 확실하게
for i in range(1,11):
    sq_list.append(i*i)

sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if 조건문 사용하기

In [75]:
[i*i for i in range(1,11,2)]

[1, 9, 25, 49, 81]

In [76]:
[i*i for i in range(1,11) if i%2 == 1]

[1, 9, 25, 49, 81]

### for가 여러번 나오게 할 수 있음

In [82]:
# 구구단
[i*k for i in range(2,10) for k in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [83]:
# 구구단
a = [i*k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [86]:
a = [i*k for i in range(2,10)
            for k  in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 리스트에 map 사용하기

- list(map(함수, 리스트))
- tuple(map(함수, 튜플))

In [87]:
a = [1.2, 2.3, 3.5, 4.8]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [89]:
a = [1.2, 2.3, 3.5, 4.8]
for i in a:
    i = int(i)
a

[1.2, 2.3, 3.5, 4.8]

In [90]:
a = [1.2, 2.3, 3.5, 4.8]
for i, val in enumerate(a):
    a[i] = int(val)
a

[1, 2, 3, 4]

In [91]:
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(int, a))
a

[1, 2, 3, 4]

### 22.7 tuple

In [92]:
tuple(i*i for i in range(1,11) if i % 2 == 0)

(4, 16, 36, 64, 100)