# Unit 23. 2차원 리스트

## 23.1 생성 및 인덱싱

In [1]:
a = [[10,20],[30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
# a[행인덱스][열인덱스]
a[1][0]

30

In [10]:
a[1][-1] = 100          # a[1][1]
a

# 2차원 리스트는 거의 사용 안됨. numpy가 더 쓰기 좋음

[[10, 20], [30, 100], [50, 60]]

In [11]:
a[1]

[30, 100]

In [12]:
import numpy as np              # 동일한 데이터 타입이여야함.
b = np.arange(16).reshape(4,4)  # 테이터 타입이 다르면 데이터프레임을 씀
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [13]:
# 5라는 값을 읽고 싶다면
b[1,1]      #[행,열]

5

In [14]:
b[1:-1,1:-1]    # 슬라이싱

array([[ 5,  6],
       [ 9, 10]])

In [16]:
# 톱니형 리스트
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a
# 틀리진 않지만 잘 쓰이지 않음

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [22]:
a = []
for i in range(4):
    t = []
    for k in range(4):
        t.append(i*4 + k)
    a.append(t)

a

# 많이 사용됨

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [23]:
[[i*4+k] for i in range(4) for k in range(4)]

[[0],
 [1],
 [2],
 [3],
 [4],
 [5],
 [6],
 [7],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15]]

In [24]:
[[i*4+k for k in range(4)] for i in range(4)]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [25]:
from  pprint import pprint              # 1차원에 있는걸 2차원으로 나타내줌.
pprint(a, indent=4, width=30)

[   [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

## 23.2 for 반복문 사용

In [26]:
for row in a:
    print(row)

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]

In [29]:
for row in a:
    for element in row:
        print(f'{element:2d}', end='')
    print()

 0 1 2 3
 4 5 6 7
 8 91011
12131415

In [30]:
for w,x,y,z in a:           # list unpacking
    print(w,x,y,z)

0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15

## 23.3 반복문으로 리스트 만들기

In [31]:
a = [[0 for _ in range(2)] for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [35]:
a = [[0]*2 for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [36]:
number = [3, 1, 3, 2, 5]

b = []
for i in number:
    line = []
    for _ in range(i):
        line.append(0)
    b.append(line)

b

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [37]:
[[0] * i for i in number]

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

## 23.4 2차원 리스트의 할당과 복사

In [39]:
a = [[10,20],[30,40]]
b = a
b[0][0] = 500               # b야 당연히 바뀌겠지만, a도 바뀌어있다.
a

[[500, 20], [30, 40]]

In [40]:
# 2차원에서는 copy가 아닌 deepcopy를 써야함

In [43]:
a = [[10,20],[30,40]]
import copy
b = copy.deepcopy(a)
b[0][0] = 500               # 이번엔 a가 안 바뀜
a

[[10, 20], [30, 40]]