# Unit 25. 딕셔너리 응용

## 25.1 25.1 딕셔너리 조작하기

In [4]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.setdefault('e', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [5]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.update(a=90)          # 있으면 있는 값 수정
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [6]:
x.update(e=100)     # 없으면 값 새롭게 생성
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [7]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x['e'] = 100         # 새로운 갑 생성 이렇게 많이씀
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [8]:
x['a'] = 90
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [9]:
x.pop('e')

100

In [10]:
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [12]:
x.get('c')      # 거의 안 쓰임

30

In [13]:
x['c']      # 거의 대부분 이렇게 씀

30

### 키-값쌍 모두 가져오기

In [18]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x.items()           # 리스트가 먼저나옴. 리스트 안에 튜플이 나옴        [(key, value), ...]
# 나중에 반복문에서 쓰임

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [19]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [20]:
x.values()

dict_values([10, 20, 30, 40])

### 리스트와 튜플로 딕셔너리 생성하기

In [26]:
dict(zip(x.values(), x.keys()))

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [27]:
k = ('a','b','c','d')
v = (10,20,30,40)
dict(zip(k,v))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

## 25.2 반복문

In [30]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
for key, value in x.items():
    print(f'{key}:{value}')

a:10
b:20
c:30
d:40

In [31]:
for key in x.keys():
    print(f'{key}:{x[key]}')

a:10
b:20
c:30
d:40

In [32]:
for i, (k, v) in enumerate(x.items()):
    print(i, k, v)

0 a 10
1 b 20
2 c 30
3 d 40

## 25.3 딕셔너리 표현식

In [34]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x2 = {key: value*value for key, value in x.items()}
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [35]:
x2 = {}
for key, value in x.items():
    x2[key] = value * value
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

## 25.4 딕셔너리 안에서 딕셔너리 사용

In [36]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [37]:
terrestrial_planet['Venus']['mean_radius']

6051.8

In [43]:
>>> x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
>>> x.get('z')              # 없으니까 안 가져옴
x.get('z', 0)               # get(키, 기본값) 없으면 기본값 반환

0

- items: 키-값 쌍을 모두 가져옴
- keys: 키를 모두 가져옴
- values: 값을 모두 가져옴

In [44]:
>>> x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
>>> x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [47]:
result = {'results': {'common': {'countPerPage': '10',
   'currentPage': '1',
   'errorCode': '0',
   'errorMessage': '정상',
   'totalCount': '1'},
  'juso': [{'admCd': '4215013700',
    'bdKdcd': '0',
    'bdMgtSn': '4215013700100940000017657',
    'bdNm': '경포대',
    'buldMnnm': '365',
    'buldSlno': '0',
    'detBdNmList': '',
    'emdNm': '저동',
    'emdNo': '03',
    'engAddr': '365, Gyeongpo-ro, Gangneung-si, Gangwon-do',
    'jibunAddr': '강원도 강릉시 저동 94 경포대',
    'liNm': '',
    'lnbrMnnm': '94',
    'lnbrSlno': '0',
    'mtYn': '0',
    'rn': '경포로',
    'rnMgtSn': '421503220002',
    'roadAddr': '강원도 강릉시 경포로 365(저동)',
    'roadAddrPart1': '강원도 강릉시 경포로 365',
    'roadAddrPart2': '(저동)',
    'sggNm': '강릉시',
    'siNm': '강원도',
    'udrtYn': '0',
    'zipNo': '25461'}]}}

In [58]:
result['results']['juso'][0]['roadAddr']

'강원도 강릉시 경포로 365(저동)'

In [60]:
result = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',             # 경도값
   'y': '37.7955687639648'}],           # 위도값
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [73]:
print(result['documents'][0]['address']['x'])
print(result['documents'][0]['address']['y'])

128.896538649542
37.7955687639648

In [80]:
print(result['documents'][0]['address']['x'], result['documents'][0]['address']['y'])

128.896538649542 37.7955687639648

In [82]:
lat = float(result['documents'][0]['y'])
lng = float(result['documents'][0]['x'])
print(f'위도: {lat:.6f}, 경도: {lng:.6f}')

위도: 37.795569, 경도: 128.896539