# Unit 10. 리스트와 튜플

In [1]:
# list 여러개의 데이터  / 하나의 묶음으로 놔서 하나의 변수로 가져가겠다 (가능하면 이렇게 해야함)
# 데이터 각각이면 반복문 사용못하고 함수도 사용못함
# 데이터를 하나로 묶어서 반복문 사용가능, 함수 사용 가능
# [] 리스트 
# ()튜플 
# {} 딕셔너리. 세트(집합)에도 사용가능
# numpy에서는 리스트라하지 않고 [] 어레이라함 ndarray , pandas

## 10.1 리스트

In [2]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [8]:
# 파이썬에서는 리스트 엘리먼트가 다른 자료형도 가능  / 이렇게 쓰는경우는 권장하진 않음. 뭘 나타내는지 인식 어려움
person = ['James', 19, 175.4, True, [120, 80]]
person
# 파이썬에서는 하나하나를 객체형태로 저장해서 가능함 / 객체는 나중에 설명

['James', 19, 175.4, True, [120, 80]]

In [10]:
# 위의 person은 다음과 같은 딕셔너리로 변경하는 것이 권장됨
person_dict = {'name':'James', 'age':19, 'height':175.4,
          'is_male':True, 'bp':[120,80]}
person

['James', 19, 175.4, True, [120, 80]]

### 빈 리스트 만들기

In [12]:
a = []
b = list()
a, b        #list의 표시방법

([], [])

In [ ]:
a, b =[], []    #여러 개 list 만들때

###range
-range([시작숫자,] 끝나는 숫자+1 [, 증가분])   [ ]생략가능

In [13]:
a = range(10)
a     # 범위만 나옴

range(0, 10)

In [16]:
list(a)     #list를 붙이면 다 나옴. 항상 끝나는숫자+1
#프로그램에서는 항상 시작숫자가 0부터

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# 1~ 10까지 세고 싶다
list(range(1,11))
# 이것보단 주로 list(a)로 쓰임. a의 range만 정해주면 되니까

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# 1~10 홀수만
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [21]:
list(range(2,11,2))   # 2~10 짝수

[2, 4, 6, 8, 10]

In [22]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
-Read-only 특성(변경 불가)

In [26]:
a = (38, 21 , 47)
a

(38, 21, 47)

In [27]:
a = 38, 21, 47      #이렇게 써도 튜플로 읽힘. 파이썬에서만 있는 독특한 구조..
a

(38, 21, 47)

In [28]:
person = ('James', 19, 175.4, True, [120, 80])
person

('James', 19, 175.4, True, [120, 80])

In [35]:
a = tuple('13')     #??? a = tuple() \n a   = ()
a

('1', '3')

In [38]:
# a는 정수
a = (38)
a

38

In [39]:
# 튜플로 만들고 싶다면
a = (38,)
a

(38,)

In [40]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 <--> 튜플

In [41]:
# a는 원래 list 였는데 tuple로 바뀜
a = [1, 3, 4]
b = tuple(a)
b

(1, 3, 4)

In [43]:
# b는 tuple였는데 list로 바뀜
c =list(b)
c

[1, 3, 4]

In [45]:
x = 10
tuple(x,)     #? 숫자하나에 , 는 되는데 왜 x는 안되지??

TypeError: ignored

### 문자열

In [47]:
# 문자열은 개별로 인식
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [49]:
list('안녕하세요')      #list도 마찬가지

['안', '녕', '하', '세', '요']

### 언팩킹(Unpacking)

In [52]:
# tuple unpacking element 개수가 맞으면 가능
a = (1, 3, 4)
x, y, z = a
x, y, z

(1, 3, 4)

In [53]:
# list unpacking
x, y, z = [1, 3, 5]
x, y, z

(1, 3, 5)