# 3장

## 3.1

NameError: name ... is not defined: 함수 이름을 잘못 입력했을 때 발생하는 에러입니다. 파이썬은 대소문자를 구분하므로 대소문자를 정확히 입력해야 합니다. print처럼 전부 소문자로 입력했는지 확인해주세요.

SyntaxError: invalid syntax: print( )안에 Hello, world!를 넣을 때 ' '(작은따옴표)로 묶지 않아서 발생하는 구문 에러(syntax error)입니다. 작은따옴표로 묶어주세요.

SyntaxError: EOL while scanning string literal: 따옴표를 잘못 사용했을 때 발생하는 구문 에러입니다. 'Hello, world!'와 같이 앞 뒤로 작은따옴표 쌍이 맞는지 확인해주세요.

In [ ]:
print(Hello, world!)

SyntaxError: ignored

In [ ]:
print('Hello, world!')

Hello, world!

## 3.2 idle에서 소스 파일 실행하기

## 3.3 명령 프롬프트에서 Hello, world! 출력하기

## 3.4 소스 코드 살펴보기

In [ ]:
print('Hello, world!')        #'' 문자열, print는 값을 화면에 출력 / () 함수

Hello, world!

## 3.7 연습문제: 문자열 출력하기

In [ ]:
print('Hello, world!')
print('Python Promgramming')

Hello, world!
Python Promgramming

# 4장

## 4.1 세미콜론

In [ ]:
# 여러 구문 사용할 때 세미콜론으로 구분
print('Hello'); print('1234')

Hello
1234

In [ ]:
print('Hello') print('1234')      #세미콜론이 없으니까 에러가 나네

SyntaxError: ignored

## 4.2 주석

In [ ]:
# 보통 블록 주석을 작성할 때는 코드를 읽기 쉽도록 # 뒤에 공백을 한 칸 띄웁니다.
# .py 스크립트 파일의 기본 인코딩이 UTF-8입니다. 스크립트 파일을 다른 인코딩(CP949, EUC-KR)으로 저장하면 실행을 했을 때 에러가 발생합니다.
# 이때는 스크립트 파일을 UTF-8로 저장하면 됩니다. 대부분의 텍스트 편집기는 저장할 파일의 인코딩을 설정할 수 있습니다. 
# 메모장에서는 파일(F) > 다른 이름으로 저장(A)… > 인코딩(E)에서 UTF-8을 선택한 뒤 저장합니다.

In [ ]:
# 주석은 소스 코드에 대한 설명을 작성하거나 코드를 임시로 사용하지 않도록 만들 때 사용합니다.

In [ ]:
# Hello, world! 출력
print('Hello, world!')
 
# 코드를 사용하지 않음
#print('Hello, world!')
 
# 여러 줄로 된
# 블록 주석
# print('Hello, world!')

Hello, world!

## 4.3 들여쓰기(Indentation)

In [ ]:
if a == 10:
    print('10입니다')     #엔터치면 기본 공백이 2칸이고 탭을 한번 더 눌러야 4칸이 되네. 기본은 4칸으로 규정한다고함
a = 10
# 작업할때 일괄적으로 맞추는게 에러가 안나고 좋음

10입니다

## 4.4 코드 블록

In [ ]:
if a == 10:
      print('10')
      print('입니다.')

10
입니다.

In [ ]:
if a == 10:
    print('10')
      print('입니다.')

IndentationError: ignored

In [ ]:
if a == 10:
      print('10')
          print('입니다.')

IndentationError: ignored

In [ ]:
# 파이썬 코드를 저장한 .py 파일을 파이썬 스크립트 또는 스크립트 파일이라고 부르며 
# 콘솔(터미널, 명령 프롬프트)에서 python 스크립트파일.py 형식으로 실행할 수 있습니다
# (리눅스와 macOS에서는 python3 스크립트파일.py 형식)

# 5장 숫자 계산하기

## 5.1 정수 계산하기

In [ ]:
# 정수int, 실수float, 복소수complex

In [ ]:
# 파이썬 2에서는 정수끼리 나눗셈 결과 정수가 나옴
# 파이썬 3에서는 정수끼리 나눗셈 해도 실수가 나옴
5 / 2 , 4 / 2

(2.5, 2.0)

In [ ]:
# // 버림. 결과는 항상 .0으로 끝남
# ! 이런 차이점이 별 것 아닌 것처럼 느껴지지만 코드(알고리즘)를 작성할 때 정수냐 실수냐에 따라
# 결과가 완전히 달라질 수도 있습니다.
# 즉, 눈에 잘 띄지 않는 버그가 되므로 이 부분은 꼭 기억해두세요.

In [ ]:
5.5 // 2 , 4 // 2.0 , 4.1 // 2.1

(2.0, 2.0, 1.0)

In [ ]:
# % 나머지      모듈로(mudulo) 연산자라고 부름
5 % 2

1

In [ ]:
# ** 거듭제곱
2 ** 10

1024

In [ ]:
# int () 정수로 나타내기. 소숫점 이하는 버림
int(3.3), int(5 / 2), int('10')

(3, 2, 10)

In [ ]:
# 객체의 자료형 알아내기. type(값)
type(10)

int

In [ ]:
# type은 말그대로 객체의 타입(자료형)을 알아내는 함수입니다. type에 괄호를 붙이고 10을 넣어보면
# <class 'int'>라고 나오는데 정수(int) 클래스라는 뜻입니다. 
# 파이썬에서는 숫자도 객체(object)이며, 객체는 클래스(class)로 표현합니다.

In [ ]:
# 몫과 나머지를 함께 구하기
# 몫과 나머지를 함께 구하려면 divmod를 사용하면 됩니다.
divmod (5, 2)

(2, 1)

In [ ]:
# 튜플은 변수 여러 개에 저장할 수 있는데 
# divmod의 결과가 튜플로 나오므로 몫과 나머지는 변수 두 개에 저장할 수 있습니다.
quotient, remainder = divmod(5, 2)
print(quotient, remainder)

2 1

In [ ]:
# 정수는 10진수 이외에도 2진수, 8진수, 16진수로도 표현 가능
# 2진수: 숫자 앞에 0b를 붙이며 0과 1을 사용합니다.
# 8진수: 숫자 앞에 0o(숫자 0과 소문자 o)를 붙이며 0부터 7까지 사용합니다.
# 16진수: 숫자 앞에 0x 또는 0X를 붙이며 0부터 9, A부터 F까지 사용합니다(소문자 a부터 f도 가능).

## 5.2 실수 계산하기

In [ ]:
# 실수 표현할때 오차생김
# 실수를 부동소수점 방식으로 표현함    !!! 부동소수점 추가 공부

In [ ]:
3.5 + 2.1

5.6

In [ ]:
4.3 - 2.7

1.5999999999999996

In [ ]:
1.5 * 3.1

4.65

In [ ]:
5.5 / 3.1

1.7741935483870968

In [ ]:
# 실수와 정수의 계산 -> 실수로 나옴
4.2 + 5

9.2

In [ ]:
# 값을 강제로 실수로 만들기 float()활용
# 부동소수점(floating point)에서 따왔으며 값을 실수로 만들어줍니다.
# float(숫자), float(계산식), float(문자열)

In [ ]:
float(5), float(1+2), float('5.3')

(5.0, 3.0, 5.3)

In [ ]:
type(3.5)

float

In [ ]:
# 복소수 원한다면 추가공부
# 파이썬에서는 실수부와 허수부로 이루어진 복소수(complex number)도 사용할 수 있습니다.
# 이때 허수부는 숫자 뒤에 j를 붙입니다(수학에서는 허수를 i로 표현하지만 공학에서는 j를 사용합니다).
#complex(1.2, 1.3)

In [ ]:
# ? 실수 계산에서 값이 소숫점 여러자리로 나올텐데 계산 어떤 방식으로? 소숫점 첫번째에서 올림 내림? 각 계산마다? 마지막계산에만?

## 5.3 괄호 사용하기

## 5.5 연습문제

In [ ]:
print(int(0.2467 * 12 + 4.159))

7

In [ ]:
int(print(0.2467 * 12 + 4.159))         # 결과값을 출력하고 정수로 나타내라는 안되네??

7.1194

TypeError: ignored

# 6장 변수와 입력 사용하기

## 6.1 변수 만들기

In [ ]:
x = 10
# x(변수이름) = 10(값)

In [ ]:
# 변수의 특징
# 영문 문자와 숫자를 사용할 수 있습니다.
# 대소문자를 구분합니다.
# 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
# _(밑줄 문자)로 시작할 수 있습니다.
# 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
# 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [ ]:
x = 10
x

10

In [ ]:
y = 'Hello, world!'
y

'Hello, world!'

In [ ]:
type(x), type(y)    # int는 정수( integer), str은 문자열(string)에서 따왔습니다

(int, str)

In [ ]:
x, y, z = 10, 20, 30
x

10

In [ ]:
y

20

In [ ]:
z

30

In [ ]:
# 만약 변수와 값의 개수가 맞지 않으면 이렇게 에러가 발생합니다.
x, y, z = 10, 20

ValueError: ignored

In [ ]:
# 변수 여러 개를 만들 때 값이 모두 같아도 된다면 다음과 같은 방식도 사용할 수 있습니다.
x = y = z = 10
x, y, z

(10, 10, 10)

In [ ]:
# 변수의 값 바꾸기
x, y = 10, 20
x, y = y, x
x

20

In [ ]:
y

10

In [ ]:
# 변수 삭제하기
x = 10
del x
x     # 지금은 변수 삭제가 큰 의미가 없지만 나중에 리스트를 사용할 때 del이 유용하게 쓰입니다.

NameError: ignored

In [ ]:
# 빈 변수 만들기
x = None
print(x)

# 파이썬에서 None은 아무것도 없는 상태를 나타내는 자료형입니다. 보통 다른 언어에서는 널(null)이라고 표현합니다.

None

In [ ]:
x   # 아무것도 출력되지 않음

## 6.2 변수로 계산하기

In [ ]:
a = 10
b = 20
c = a + b
c

30

In [ ]:
# 산술 연산 후 할당 연산자 사용해야함
a = 10
a + 20

30

In [ ]:
a # a + 20은 a에 20을 더하기만 할 뿐 계산 결과를 유지하지 않습니다.

10

In [ ]:
a = 10
a = a + 20
a

30

In [ ]:
a = 10
a += 20 # a와 20을 더한 후 결과를 다시 a에 저장
a   # a += 20은 a = a + 20을 축약한 형태

30

In [ ]:
# 덧셈(+=)만 해보았는데 뺄셈(-=), 곱셈(*=), 나눗셈(/=, //=), 나머지(%=)도 같은 방식입니다. 
# 똑같이 연산(-, *, /, //) 후 할당(=) 한다는 뜻입니다.

In [ ]:
d += 10    # d는 만들지 않은 변수
# d += 10    # 계산 결과를 d에 할당하기 전에 d와 10을 더해야 하는데 d라는 변수가 없어서 덧셈이 안 되기 때문입니다.
# 따라서 연산 후 할당을 하려면 값이 들어있는 변수를 사용해야 합니다.

NameError: ignored

In [ ]:
# 부호 붙이기
x = -10
+x

-10

In [ ]:
-x

10

In [ ]:
# 양수, 음수 부호 붙이기는 수학 시간에 배운 내용과 같습니다. 
# -10에 + 부호를 붙이면 부호의 변화가 없고, -10에 - 부호를 붙이면 양수 10이 됩니다.

## 6.3 입력 값을 변수에 저장하기

### input

### input 함수 사용

In [ ]:
input()       # Hello, world! 입력 -> 'Hello, world!' 출력

Hello, world!

'Hello, world!'

In [ ]:
# input 함수 결과 변수 할당

In [ ]:
x = input()

Hello, wolrd!

In [ ]:
x

'Hello, wolrd!'

In [ ]:
# 여기서 한 가지 불편한 점은 input 함수가 실행된 다음에는 아무 내용이 없어서 입력을 받는 상태인지
# 출력이 없는 상태인지 알 수가 없다는 점입니다.
# 이때는 input의 괄호 안에 문자열을 지정해주면 됩니다.

In [ ]:
x = input('문자열을 입력하세요: ')

# 즉, 이 문자열은 사용자에게 입력받는 값의 용도를 미리 알려줄 때 사용합니다.
# 다른 말로는 프롬프트(prompt)라고도 부릅니다(파이썬 프롬프트 >>>와 같은 의미입니다).

문자열을 입력하세요: Hello, world!

In [ ]:
x

'Hello, world!'

In [ ]:
# 두 숫자의 합 구하기

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a + b)
# input에서 입력받은 값은 항상 문자열 형태이기 때문입니다.
# 즉, 10과 20은 겉보기에는 숫자이지만 실제로는 문자열이므로 10과 20를 +로 연결하여 1020이 나오게 됩니다.

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
1020

In [ ]:
a = input()

10

In [ ]:
type(a)

str

In [ ]:
a = int(input('첫 번째 숫자를 입력하세요: '))   # int를 사용하여 입력 값을 정수로 변환
b = int(input('두 번째 숫자를 입력하세요: '))    # int를 사용하여 입력 값을 정수로 변환

print (a + b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

In [ ]:
# ? 뭐지 왜 따로 떨어서 적었는데 값이 다르게 나오지??
a = input('첫 번째 숫자를 입력하세요: ') == x
b = input('두 번째 숫자를 입력하세요: ') == y
k = int(x)+int(y)
print(k)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
2040

In [ ]:
# print 시에 int 써줘도 되는군.
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(int(a) + int(b))

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

In [ ]:
a = float(input('첫 번째 숫자를 입력하세요: '))
b = float(input('두 번째 숫자를 입력하세요: '))

print(a + b)

첫 번째 숫자를 입력하세요: 3.5
두 번째 숫자를 입력하세요: 2.1
5.6

In [ ]:
korean = int(input('점수를 입력하세요'))

print(korean>=90)

점수를 입력하세요91
True

In [ ]:
korean = int(input('점수를 입력하세요'))

print(korean>=90)

점수를 입력하세요89
False

## 6.4 입력 값을 변수 두 개에 저장하기 split

- 변수1, 변수2 = input().split()
- 변수1, 변수2 = input().split('기준문자열')
- 변수1, 변수2 = input('문자열').split()
- 변수1, 변수2 = input('문자열').split('기준문자열')

In [ ]:
a, b = input('문자열 두 개를 입력하세요: ').split()

print(a)
print(b)
# 공백을 기준으로 분리. 변수에 차례대로 저장 
# split은 분리하다, 나누다라는 뜻

문자열 두 개를 입력하세요: Hello Python
Hello
Python

In [ ]:
a, b = input('문자열 두 개를 입력하세요: ')

print(a)
print(b)

문자열 두 개를 입력하세요: Hello Python

ValueError: ignored

In [ ]:
a, b = input('문자열 두 개를 입력하세요: ')

print(a)
print(b)

문자열 두 개를 입력하세요: HelloPython

ValueError: ignored

### input int

In [ ]:
# 두 숫자의 합 구하기

In [ ]:
a, b = input('숫자 두 개를 입력하세요: ').split()

print(a + b)
# 이 문자열은 split으로 분리해도 문자열이기 때문

숫자 두 개를 입력하세요: 10 20
1020

In [ ]:
a, b = int(input('숫자 두 개를 입력하세요: ').split())

print(a + b)

숫자 두 개를 입력하세요: 10 20

TypeError: ignored

In [ ]:
a = int(input('숫자를 입력하세요: '))
print(a)

숫자를 입력하세요: 10
10

In [ ]:
type(a)

int

In [ ]:
a, b = int, input('숫자 두 개를 입력하세요: ')
print(a + b)

숫자 두 개를 입력하세요: 10 20

TypeError: ignored

In [ ]:
a, b = input('숫자 두 개를 입력하세요: ').split()
a = int(a)
b = int(b)

print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [ ]:
# a = int(a)와 같이 int에 변수를 넣은 뒤 다시 변수에 저장해주면 변수가 정수 자료형으로 변환됩니다.
# 이때 int(a)처럼 int만 사용하고 결과를 변수에 저장하지 않으면 정수로 변환되지 않습니다.
# 이 부분 꼭 기억해두세요.

In [ ]:
# 물론 print 안에서 int로 변수를 변환하고 바로 더해도 상관없습니다.
print(int(a) + int(b))

30

### map 사용

- 변수1, 변수2 = map(int, input().split())
- 변수1, 변수2 = map(int, input().split('기준문자열'))
- 변수1, 변수2 = map(int, input('문자열').split())
- 변수1, 변수2 = map(int, input('문자열').split('기준문자열'))

In [ ]:
# split의 결과를 매번 int로 변환해주려니 귀찮습니다. 이때는 map을 함께 사용하면 됩니다.
# map에 int와 input().split()을 넣으면 split의 결과를 모두 int로 변환해줍니다
# (실수로 변환할 때는 int 대신 float를 넣습니다.).

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
 
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
 
print(a + b)

숫자 두 개를 입력하세요: 10,20
30

In [ ]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
 
print(a + b)

숫자 두 개를 입력하세요: 10 20

ValueError: ignored

In [ ]:
# 지금까지 변수를 만들고 input 함수를 사용해보았습니다.
# 변수는 값이나 계산 결과를 저장할 때 사용한다는 점, 변수를 만드는 방법, 변수 이름을 짓는 방법만 기억하면 됩니다.
# 특히 input과 split의 결과가 문자열라는 점이 중요합니다.
# 따라서 숫자 계산을 한다면 int, float를 사용해서 결과를 숫자로 변환해주어야 한다는 점 기억하세요.
# 그리고 split의 결과를 모두 int, float로 변환할 때는 map을 사용하면 편리합니다.

## 6.6 연습문제: 정수 세 개를 입력하고 합계 출력하기

In [ ]:
a, b, c = map(int, input('정수 세 개를 입력하세요').split())

print(a + b + c)

정수 세 개를 입력하세요-10 20 30
40

## 6.8 심사문제: 평균 점수 구하기

In [ ]:
국어, 영어, 수학, 과학 = map(int, input().split())

print(int((국어 + 영어 + 수학 + 과학) / 4 ))

83 92 87 90
88

In [ ]:
국어, 영어, 수학, 과학 = map(int, input().split())

print(int((국어 + 영어 + 수학 + 과학) / 4 ))

32 53 22 95
50

# 7. 출력방법 알아보기

## 7.1 값을 여러 개 출력하기

In [ ]:
print(값1, 값2, 값3)
print(변수1, 변수2, 변수3)

NameError: ignored

In [ ]:
print(1, 2, 3)

1 2 3

In [ ]:
print('Hello', 'Python')

Hello Python

In [ ]:
# print에 변수나 값을 콤마로 구분해서 넣으면 각 값이 공백으로 띄워져서 한 줄로 출력됩니다.
# 이제 값을 여러 개 출력할 때 print 함수를 여러 번 쓰지 않아도 됩니다.

### sep로 값 사이 문자 넣기

In [ ]:
print(1, 2, 3, sep=', ') # sep에 콤마와 공백을 지정

1, 2, 3

In [ ]:
print(4, 5, 6, sep=',') # sep에 콤마만 지정

4,5,6

In [ ]:
print('Hello', 'Python', sep='')    # sep에 빈 문자열을 지정

HelloPython

In [ ]:
print(1920, 1080, sep='x')    # sep에 x를 지정

1920x1080

## 7.2 줄바꿈 활용하기

In [ ]:
print(1, 2, 3, sep='\n')      #\n을 활용하여 여러 줄에 출력
# 단, \n 자체는 제어 문자이므로 화면에 출력되지 않습니다.

1
2
3

In [ ]:
print(\n)

SyntaxError: ignored

In [ ]:
print('1\n2\n3') # 문자열 안에 \n을 사용하여 줄바꿈 / print(1, 2, 3, sep='\n')와 값이 같음

1
2
3

In [ ]:
print(1\n2\n3)

SyntaxError: ignored

In [ ]:
print('1 \n  2 \n3')

1
  2
3

In [ ]:
#print는 기본적으로 출력하는 값 끝에 \n을 붙입니다.
# 그래서 print를 여러 번 사용하면 값이 여러 줄에 출력됩니다.

In [ ]:
print(1)
print(2)
print(3)

1
2
3

In [ ]:
print(1, end='')
print(2, end=' ')
print(3)

12 3

In [ ]:
#end=''와 같이 end에 빈 문자열을 지정하면 1, 2, 3이 세 줄로 출력되지 않고 한 줄로 붙어서 출력됩니다.
# 기본적으로 print의 end에 \n이 지정된 상태인데 빈 문자열을 지정하면 강제로 \n을 지워주기 때문입니다.

In [ ]:
print('Hello', '\n', 'Python', sep='')

Hello
Python

In [ ]:
print('Hello', 'Python', end='\n')

Hello Python

## 7.4 연습문제

In [ ]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

## 7.5 심사문제

In [ ]:
year, month, day, hour, minute, second = input().split()

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

199 12 31 10 37 21
199-12-31T10:37:21

In [ ]:
year, month, day, hour, minute, second = input().split()

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

2017 10 27 11 43 59
2017-10-27T11:43:59

In [ ]:
year, month, day, hour, minute, second = map(int, input().split())

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

2017 10 27 11 43 59
2017-10-27T11:43:59

# 8장 불과 비교, 논리 연산자

## 8.1 비교 연산자

In [ ]:
3 > 1

True

In [ ]:
print(10 == 10 , 10 != 5, sep=', ')

True, True

In [ ]:
print(1 == 1.0, 1 is 1.0, 1 is not 1.0, sep=', ')

True, False, True

## 8.2 논리 연산자

In [ ]:
a and b   # 모두 True여야 True
a or b    # 하나라도 True면 True
not x
x

'1020'

In [ ]:
not True and False or not False 
((not True) and False) or (not False)

True

In [ ]:
# != 다르다
print(10 == 10 and 10 != 5, 10 > 5 or 10 < 3, not 10 > 5, not 1 is 1.0, sep=', ')

True, True, False, True

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool('')

False

In [ ]:
bool("")

False

In [ ]:
bool(,)

SyntaxError: ignored

In [ ]:
bool(',')

True

In [ ]:
bool(1.5)

True

In [ ]:
bool('False')

True

In [ ]:
True and 'Python'
# 문자열 'Python'도 불로 따지면 True라서 True and True가 되어 True가 나올 것 같지만 'Python'이 나왔습니다.
# 왜냐하면 파이썬에서 논리 연산자는 마지막으로 단락 평가를 실시한 값을 그대로 반환하기 때문입니다.
# 따라서 논리 연산자는 무조건 불을 반환하지 않습니다.
# https://dojang.io/mod/page/view.php?id=2192 참고

'Python'

In [ ]:
8 is 4 * 2.0

False

In [ ]:
 2 * 3 is 3 + 3

True

In [ ]:
4 != 2 + 2

False

In [ ]:
a = 10
b = 20
print(a == 10 or b == 10, a >= 10 and b < 30, not a == 10, b != 20 or a != 10, not b != 20 and a > 5)

True True False False True

## 8.4 연습문제: 합격 여부 출력하기

In [ ]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean >=50 and english >=50 and mathematics >=50 and science >= 50)

False

### 8장 심사문제

In [ ]:
korean, english, mathmatics, science = map(int, input().split())
korean >= 90 and english > 80 and mathmatics > 85 and science >= 80

90 81 86 80

True

In [ ]:
korean, english, mathmatics, science = map(int,input().split())
print(korean >= 90 and english > 80 and mathmatics > 85 and science >= 80)

90 80 85 80
False

In [ ]:
korean, english, mathmatics, science = map(int, input().split())
korean >= 90 and english > 80 and mathmatics > 85 and science >= 80
# 오답 print 안써서

In [ ]:
korean, english, mathmatics, science = map(int, input().split())
print(korean >= 90 and english > 80 and mathmatics > 85 and science >= 80)
# 오답 int, input 띄어쓰기로

# 9장 문자열 사용하기

In [ ]:
hello = 'Hello, world!'
hello

'Hello, world!'

In [ ]:
hello = 'Hello, world!'
print(hello)

Hello, world!

In [ ]:
hello = 'Hello, world!'
print('hello')

hello

In [ ]:
hello = '안녕하세요'    # 작은따옴표로 묶기
hello

'안녕하세요'

In [ ]:
hello = "Hello, world!"     # 큰따옴표로 묶기
hello

'Hello, world!'

In [ ]:
hello = '''Hello, Python!'''      # '''작은따옴표3개를 사용해 묶기'''
hello

'Hello, Python!'

In [ ]:
python = """Python Programming"""   # """큰따옴표3개를 사용해 묶기"""
python

'Python Programming'

In [ ]:
# " ' "     / ' " '
# 같은 따옴표만 아니면 됨.
s = 'Python isn't difficult'
s

SyntaxError: ignored

In [ ]:
s = "He said "Python is easy""
s

SyntaxError: ignored

In [ ]:
s = 'He said "Python is easy"'
s

'He said "Python is easy"'

In [ ]:
single_quote = '''"안녕하세요."
'파이썬'입니다.'''

double_quote1 = """"Hello"
'Python'"""
 
double_quote2 = """Hello, 'Python'"""    # 한 줄로 작성
 
print(single_quote)
print(double_quote1)
print(double_quote2)

"안녕하세요."
'파이썬'입니다.
"Hello"
'Python'
Hello, 'Python'

In [ ]:
'Python isn\'t difficult'   #print('Python isn\'t difficult')
# 역슬래시 붙이면 가능

"Python isn't difficult"

In [ ]:
s = "He said \"Python is easy\""
s

'He said "Python is easy"'

In [ ]:
# 줄을 여러줄 쓰고 싶을 때 """이거나 """     \n 활용
print('Hello\nPython')

Hello
Python

In [ ]:
print('''Hello
Python''')
print('Hello\nPython')

Hello
Python
Hello
Python

In [ ]:
'Hello, world!'   # 따옴표 있게 출력

'Hello, world!'

In [ ]:
print('Hello, world!')    # 스크립트 파일에서는 print 사용 '안에 내용'을 적으므로 따옴표 사라짐
# 원래 이게 맞는거 같은데? '를 넣고 싶으면 print(''Hello, world!'') 이러면 되지 않을까?
# 같은 따옴표 사용 못하니까 다른걸로 바꿔줘서 나옴. 아래참고

Hello, world!

In [ ]:
print("Hello, world!'")

Hello, world!'

## 9.3 연습문제: 여러 줄로 된 문자열 사용하기

In [ ]:
s = """Python is a programming language that lets you work quickly
and
integrate systems more effectively."""

print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively.

## 9.4 심사문제: 여러 줄로 된 문자

In [ ]:
s="""\'Python\' is a \"programming language\"
that lets you work quickly
and
integrate systems more effectively."""

print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [ ]:
s="""'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively."""

print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

# 10장. 리스트와 튜플 사용하기    (여기서부턴 집중도 떨어짐)

In [ ]:
person = ['james95', 'tom93']
print(person)

['james95', 'tom93']

In [ ]:
[] == list()

True

In [ ]:
a = list(range(-3, 0))
a

[-3, -2, -1]

In [ ]:
a = list(range(0, -3))
a

[]

In [ ]:
a = list(range(-3.0, 0.0))
a

TypeError: ignored

In [ ]:
# 리스트 = list(range(횟수))
# 리스트 = list(range(시작, 끝))
# 리스트 = list(range(시작, 끝, 증가폭))
c = list(range(-4, 10, 2))
print(c)

[-4, -2, 0, 2, 4, 6, 8]

In [ ]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 요소(element)가 한 개인 튜플
# 튜플 = (값, ) / 튜플 = 값,
(38, )

(38,)

In [ ]:
38,

# 튜플 형태를 유지하기 위한 문법

(38,)

In [ ]:
# 튜플 = tuple(range(횟수))
# 튜플 = tuple(range(시작, 끝))
# 튜플 = tuple(range(시작, 끝, 증가폭))

In [ ]:
# 리스트를 생성할 때는 [ ](대괄호)를 사용하고, 
# 튜플을 생성할 때는 ( )(괄호)를 사용한다는 점이 중요합니다.
# 특히, 튜플은 안에 저장된 요소를 변경, 추가, 삭제할 수 없으므로 
# 요소가 그대로 유지되어야 할 때 사용한다는 점도 기억해두세요.

In [ ]:
input().split()

10 20

['10', '20']

In [ ]:
a, b = input().split()

print(a, b)

10 20
10 20

In [ ]:
a = 10, 20, 30, False, 'Hello'
a

(10, 20, 30, False, 'Hello')

In [ ]:
a = (False, 'Python')
a

(False, 'Python')

In [ ]:
a = tuple([10, 20, 30])
a

(10, 20, 30)

## 10장 심사문제

In [ ]:
a = list(range(5, -10, -2))

print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [ ]:
a = tuple(range(-10, 9, 2))

print(a)

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [ ]:
n=int(input())
a = tuple(range(-10, 11, n))

print(a)

3
(-10, -7, -4, -1, 2, 5, 8)

# 11장 시퀀스 자료형 활용하기

## 11.1 시퀀스 자료형의 공통 기능 사용하기

## in 특정 값이 있는지 확인

not in 특정값이 없는지

## 11.2 시퀀스 객체의 요소 개수 구하기

## len (length)에서 따옴

## 11.3 인덱스 사용하기

In [ ]:
a = [38, 21, 53, 62, 19]
a[]

SyntaxError: ignored

In [ ]:
a = [38, 21, 53, 62, 19]
a[4]

19

In [ ]:
 a[len(a) - 1]    # 마지막 요소(인덱스 4) 출력

19

In [ ]:
a = [38, 21, 53, 62, 19]
a[len(a) - 1]

19

# 12장 딕셔너리 사용하기

In [ ]:
# 딕셔너리 = {키1: 값1, 키2: 값2}
# 키는 문자열뿐만 아니라 정수, 실수, 불도 사용할 수 있으며 자료형 / 리스트, 딕셔너리는 사용불가
# 값에는 리스트, 딕셔너리 등을 포함하여 모든 자료형

In [9]:
lux = [490, 334, 550, 18.72]
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [10]:
x = {100: 'hundred', False: 0, 3.5: [3.5, 3.5]}
x

{False: 0, 3.5: [3.5, 3.5], 100: 'hundred'}

In [12]:
x = {100: 'hundred', False: 0, 3.5: [3.5, 3.5]}
x

{False: 0, 3.5: [3.5, 3.5], 100: 'hundred'}

In [13]:
# 빈 딕셔너리
# 딕셔너리 = {}
# 딕셔너리 = dict()

In [15]:
# 딕셔너리 = dict(키1=값1, 키2=값2)
# 딕셔너리 = dict(zip([키1, 키2], [값1, 값2]))
# 딕셔너리 = dict([(키1, 값1), (키2, 값2)])
# 딕셔너리 = dict({키1: 값1, 키2: 값2})

In [14]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)    # 키=값 형식으로 딕셔너리를 만듦
lux1

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [16]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))
lux2

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [17]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
lux3                                                  # (키, 값) 형식의 튜플로 딕셔너리를 만듦

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [18]:
lux4 = dict({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})     # dict 안에서
lux4    # 중괄호로 딕셔너리를 만듦

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

## 12.2 딕셔너리 키에 접근. 값 할당

In [19]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(lux['health'], lux['armor'], sep=', ')

490, 18.72

In [22]:
# 딕셔너리에 키를 지정하지 않은 상태는 해당 딕셔너리 전체를 뜻함

In [23]:
lux['mana_regen'] = 3.28    # 딕셔너리에 값 추가, 할당(수정) 가능함
lux

{'armor': 18.72, 'health': 490, 'mana': 334, 'mana_regen': 3.28, 'melee': 550}

In [24]:
lux['attack_speed']     # 딕셔너리에 없는 값은 가져오지 못함
lux

KeyError: ignored

In [25]:
'attack_speed' not in lux, 'health' not in lux

(True, False)

In [26]:
len(lux)

5

In [27]:
len({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})

4

In [33]:
x = {10: 'Hello', 'world': 30}

print(x[10])

Hello

## 12.4 연습문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

In [44]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}
 
print(camille['health'])
print(camille['movement_speed'])

575.6
340

## 12.5 심사문제 내가 풀어봐야겠다

In [45]:
x = input().split()
y = map(float,input().split())
lux = dict(zip(x,y))
print(lux)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

# 13. if 조건문

In [47]:
x = 8
if x >= 8:
    print('8보다 큼')

8보다 큼

In [48]:
x = 7
if x >= 8:
    print('8보다 큼')

In [53]:
x = 10
if x == 10:
    pass      # TODO: x가 10일 때 처리가 필요함       개발자들끼리 쉽게 알아볼 수 있게 TODO, FIXME, BUG, NOTE 사용

In [54]:
# 파이썬에서 :가 나오면 그 다음 줄부터는 무조건 들여쓰기를 한다

In [60]:
x = 15
 
if x >= 10:
     print('10 이상입니다.')
 
     if x == 15:
         print('15입니다.')
 
     if x == 20:
         print('20입니다.')

10 이상입니다.
15입니다.

In [58]:
x = 15
 
if x >= 10:
     print('10 이상입니다.')
 
if x == 15:
     print('15입니다.')
 
if x == 20:
     print('20입니다.')

10 이상입니다.
15입니다.

In [61]:
x = int(input())          # 입력받은 값을 변수에 저장
 
if x == 10:               # x가 10이면
    print('10입니다.')    # '10입니다.'를 출력
 
if x == 20:               # x가 20이면
    print('20입니다.')    # '20입니다.'를 출력

10
10입니다.

In [62]:
x = int(input())          # 입력받은 값을 변수에 저장

if x >= 10:
     print('10 이상입니다.')

if x == 10:               # x가 10이면
    print('10입니다.')    # '10입니다.'를 출력
 
if x == 20:               # x가 20이면
    print('20입니다.')    # '20입니다.'를 출력

10
10 이상입니다.
10입니다.

#13.6 연습문제: if 조건문 사용하기

In [63]:
x = 5

if x != 10:
    print('ok')

ok

## 13.7 심사문제

In [65]:
price = int(input())
coupon = input()
if coupon == 'Cash3000':
    price -= 3000
if coupon == 'Cash5000':
    price -= 5000

print(price)

27000
Cash3000
24000

# 14. else 사용하여 두 방향으로 분기하기

In [66]:
 x = 5
>>> if x == 10:
...     y = x
... else:
...     y = 0
...
>>> y

0

In [74]:
# 조건문 한줄 작성

>>> x = 5
>>> y = x if x == 10 else 0
>>> y

SyntaxError: ignored

In [68]:
x = 5
 
if x == 10:
    print('10입니다.') 
else:
    print('x에 들어있는 숫자는')
    print('10이 아닙니다.')

x에 들어있는 숫자는
10이 아닙니다.

In [69]:
x = 10
 
if x == 10:    # x가 10이라 조건식이 참
    print('10입니다.')    # 출력
else:
     print('x에 들어있는 숫자는')
print('10이 아닙니다.')    # 출력되지 않아야 하는데 출력됨

10입니다.
10이 아닙니다.

In [70]:
if True:
    print('참')    # True는 참
else:
    print('거짓')
 
if False:
    print('참')
else:
    print('거짓')    # False는 거짓
 
if None:
    print('참')
else:
    print('거짓')    # None은 거짓

참
거짓
거짓

In [71]:
# 특히 None은 False로 취급되므로 else의 코드가 실행됩니다.
# 실제 코드를 작성할 때 변수에 들어있는 값이나 함수의 결과가 None인 경우가 많으므로 이 부분은 꼭 기억해두세요.

In [72]:
if 0:
    print('참')
else:
    print('거짓')    # 0은 거짓
 
if 1:
    print('참')    # 1은 참
else:
    print('거짓')
 
if 0x1F:    # 16진수
    print('참')    # 0x1F는 참
else:
    print('거짓')
 
if 0b1000:    # 2진수
    print('참')    # 0b1000은 참
else:
    print('거짓')
 
if 13.5:    # 실수
    print('참')    # 13.5는 참
else:
    print('거짓')

거짓
참
참
참
참

In [75]:
x = 10
y = 20
 
if x == 10 and y == 20:     # x가 10이면서 y가 20일 때
    print('참')
else:
    print('거짓')

참

In [76]:
# 중첩 논리 연산자

In [77]:
if x > 0:
    if x < 20:
        print('20보다 작은 양수입니다.')

20보다 작은 양수입니다.

In [78]:
if x > 0 and x < 20:
    print('20보다 작은 양수입니다.')

20보다 작은 양수입니다.

In [80]:
if 0 < x < 20:
    print('20보다 작은 양수입니다.')

# 부등호의 방향과는 관계 없이 조건의 뜻만 만족하면 됩니다. 즉, x > 0과 0 < x의 뜻은 같습니다.

20보다 작은 양수입니다.

## 14.6 연습문제: 합격 여부 판단하기

In [81]:
written_test = 75
coding_test = True
 
if written_test >= 80 and coding_test == True:
    print('합격')
else:
    print('불합격')

불합격

## 14.7 심사문제

In [86]:
korean, english, mathmathics, science = map(int, input().split())
if (korean + english + mathmathics + science) / 4 >=80:
    print('합격')
else:
    print('불합격')

89 72 93 82
합격

In [87]:
korean, english, mathmathics, science = map(int, input().split())
if (korean + english + mathmathics + science) / 4 >=80:
    print('합격')
else:
    print('불합격')

100 79 68 71
불합격

In [94]:
korean, english, mathmathics, science = map(int, input().split())
if korean > 100 or korean < 0 or english > 100 or english < 0 or mathmathics > 100 or mathmathics < 0 or science > 100 or science < 0:
    print('잘못된 점수')
else:
    if (korean + english + mathmathics + science) / 4 >= 80:
        print('합격')
    else:
        print('불합격')

99 85 101 90
잘못된 점수