# Unit 29. 함수

In [1]:
# 반복되어 사용되는 경우가 많은데 일일이 입력하는 경우 오류가 날 수 있음
# 가능하며 반복문 사용

## 29.1 출력 함수 만들기

In [2]:
def hello():
    print('Hello, wolrd!')

hello()

Hello, wolrd!

In [5]:
hello2()

def hello2():
    print('Hello, world!')


# 함수 정의 만들기 전 입력시 오류

NameError: ignored

In [8]:
def hello():
    pass
# 빈 함수
hello()

## 29.2 덧셈 함수

In [16]:
# 매개변수, parameter, argument 라고 이야기함. 다 같은 말
def add(a, b):      # 대푯값
    print(a+b)

In [17]:
add(4,5)            # 실제값

9

In [18]:
# Docstrings(documentation strings)
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    print(a+b)

In [21]:
# ? 도움말 호출 팝업되는 오른쪽참고
add?

## 29.3 결과값 반환

In [23]:
def add(a,b):
    return a+b

In [24]:
add(4,5), add(10,20)

(9, 30)

In [26]:
x = add(23,45)      # 물론 이런경우 그냥 덧셈함. add로 따로 함수 지정하지 않음. 하나의 예
x

68

In [28]:
def is_ten(x):
    return x == 10

In [29]:
is_ten(101//10)

True

In [38]:
def not_ten(x):
    if x == 10:
        return
    else:
        print('It is not 10.')

In [52]:
not_ten(5)

It is not 10.

In [53]:
not_ten(101//10)

In [49]:
def not_ten(x):                     # 위 else랑 같음
    if x == 10:
        return
    print('It is not 10.')

In [50]:
not_ten(5)

It is not 10.

In [51]:
not_ten(101//10)

In [46]:
def not_ten(x):
    if x == 10:
        pass
    print('It is not 10.')

In [47]:
not_ten(5)

It is not 10.

In [48]:
not_ten(101//10)

It is not 10.

## 29.4 여러개의 결과값 반환

In [58]:
# 파이썬에서만 가능. 튜플 언패킹

In [59]:
def add_sub(a,b):
    return a+b, a-b

In [60]:
x, y = add_sub(15, 7)

In [61]:
x, y

(22, 8)

In [63]:
# 함수는 어렵지 않지만 내 프로그램에서 함수로 만들까 말까 하는게 더 힘든 문제

## 29.5 함수의 호출 과정

In [65]:
 # Stack을 이용한다

## 연습문제
- 3자리수 정수 두 개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?

In [68]:
max_pal = 0
for i in range(100, 1000):
    for k in ragne(i, 1000):
# i*k 곱한값이 팔린드롬인지를 확인
# 팔림드롬이면 max_pal과 비교

SyntaxError: ignored

In [70]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]

In [72]:
is_palindrome(12345), is_palindrome(906609)

(False, True)

In [75]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
    for k in range(i, 1000):
        if is_palindrome(i*k):
            if i*k > max_pal:
                max_pal = i*k
                m = i
                n = k

print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609