# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [4]:
print(10, 20, 30. sep=', ', 40)         # 순서는 항상 위치인수 뒤 키워드 인수

SyntaxError: ignored

In [6]:
print(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

10 20 30 40 50 60 70 80 90 100

In [7]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [8]:
print_numbers(10,20,30)

10
20
30

In [14]:
# *x - 리스트/튜플 언패킹           #  *(애스터리스크) 붙임
x, y = [10, 20, 30], (40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [18]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [21]:
print_numbers2(10, 20, 30, 40)

10
20
30
40

In [22]:
print_numbers2(10)

10

### 고정 인수와 가변 인수

In [23]:
def print_numbers3(a, *args):
    print(a)
    print(args)

In [27]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [28]:
print_numbers3(*x)

10
(20, 30)

In [34]:
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야 함!
def print_numbers4(*args, a):       # 가변이 고정보다 먼저 나올 수 없다.
    print(args)
    print(a)

In [35]:
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [36]:
def personal_info(name, age, addr):
    print('이름:', name)
    print('나이', age)
    print('주소', addr)

In [37]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름: 홍길동
나이 30
주소 서울 강남구 도곡동

In [40]:
personal_info(age=30, addr='서울 강남구 도곡동', name='홍길동')     # 위치와 상관없이 키워드가 같으니 결과가 같게 나옴

이름: 홍길동
나이 30
주소 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [46]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}

In [49]:
# *x는 x의 키를 불러냄
personal_info(**x)

이름: 홍길동
나이 30
주소 서울 강남구 도곡동

In [50]:
# ** 딕셔너리 언패킹 / 함수(**딕셔너리)

### 가변 키워드 인수

In [51]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [52]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [54]:
personal_info2(name='홍길동', age=30)       # 3개를 줘도 당연히 찍히고 2개만 줘도 찍힘

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

In [62]:
def personal_info3(name, **kwargs):         # 고정인수가 먼저. 가변 인수가 나중에
    print(name)     # 이름으로 나오고
    print(kwargs)   # 딕셔너리 형태로 출력

In [63]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [69]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [70]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [74]:
def personal_info4(name, age, addr='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [75]:
personal_info4('홍길동', 30)

이름: 홍길동
나이: 30
주소: 비공개

In [76]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동